@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="landing-wrapper">
    <MudContainer MaxWidth="MaxWidth.Medium" Class="landing-container">
        @Body
    </MudContainer>
</div>